[buildout]
index = https://packages.lizard.net
find-links =
prefer-final = true
extensions =
    mr.developer
show-picked-versions = true
parts =
    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
eggs =
    lizard-auth-server
    lizard-auth-server[test]


[versions]
# Specific pins. We inherit lots of pins from the KGS, so if you add a
# development egg, you really need to un-pin it here.
lizard-auth-server =
Django = 1.9.7
setuptools =
zc.buildout =

# Reported by buildout
Babel = 2.0
Jinja2 = 2.8
MarkupSafe = 0.23
PyJWT = 1.4.0
Pygments = 2.0.2
Sphinx = 1.3.1
Werkzeug = 0.13
alabaster = 0.7.6
cached-property = 1.5.1
certifi = 2017.11.5
chardet = 3.0.4
collective.recipe.omelette = 0.16
collective.recipe.sphinxbuilder = 0.9
colorama = 0.3.9
coverage = 4.1
coveralls = 1.0
createcoverage = 1.4
django-appconf = 1.0.2
django-extensions = 1.6.7
django-nose = 1.4.4
django-oidc-provider = 0.5.2
django-tls = 0.0.2
djangorecipe = 2.2.1
docopt = 0.6.2
docutils = 0.14
factory-boy = 2.4.1
fake-factory = 0.5.3
future = 0.16.0
idna = 2.6
isort = 4.2.2
itsdangerous = 0.24
mock = 2.0.0
mr.developer = 1.38
nose = 1.3.7
pbr = 3.1.1
pep8 = 1.7.1
pkginfo = 1.4.1
pycryptodomex = 3.4.7
pyflakes = 1.6.0
pyjwkest = 1.4.0
pytz = 2017.3
requests = 2.18.4
requests-toolbelt = 0.8.0
six = 1.10.0
snowballstemmer = 1.2.0
sphinx-rtd-theme = 0.1.9
stdlib-list = 0.5.0
syseggrecipe = 1.5.1
toml = 0.10.0
tqdm = 4.19.4
transifex-client = 0.12.1
twine = 1.9.1
urllib3 = 1.22
z3c.dependencychecker = 2.7
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.5
zest.releaser = 6.13.2


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/lizard-ui.git


[sysegg]
recipe = syseggrecipe
force-sysegg = true
eggs =
    psycopg2


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_auth_server
settings = testsettings
test = lizard_auth_server
eggs = ${buildout:eggs}
coverage = true


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    coveralls
    createcoverage
    isort
    pep8
    zest.releaser
    z3c.dependencychecker


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
