# Follows this structure (loosely): https://docs.docker.com/compose/django/
#
# Start your services:
#   $ docker-compose up (-d)
#
# Setup databases, and run buildout once again:
#   $ docker-compose run web ./docker-bootstrap.sh

version: '2'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/code
    user: buildout
