# Inspired by: https://www.theodo.fr/blog/2015/04/docker-and-virtualenv-a-clean-way-to-locally-install-python-dependencies-with-pip-in-docker/
#
# First install your vendors:
#   $ docker-compose run --rm vendors
# Then run your app:
#   $ docker-compose up (-d) server

version: '2'
services:
  vendors:
    build: .
    working_dir: /code
    volumes:
      - .:/code
    command: bash -c "python bootstrap.py && bin/buildout && bin/django syncdb --noinput && bin/django migrate"
  server:
    build: .
    ports:
     - "5000:5000"
    volumes:
      - .:/code
