recursive-include lizard_auth_server *
recursive-include doc *
include *.rst
exclude .*
exclude bootstrap.py
exclude coverage.xml
exclude Makefile
exclude buildout.cfg
include *.txt
global-exclude *.pyc
