{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Access denied' %}{% endblock %}

{% block container %}
    <div class="content">
        <h3>{% trans 'Access denied' %}</h3>
        <p>
            U heeft geen toegang tot dit portaal.
            {% trans 'You do not have access to this portal.' %}
        </p>
        <ul>
            <li>
                {% url "login" as login_url %}
                {% blocktrans %}<a href="{{ login_url }}">Log in with another account</a>, which does have access to this portal.{% endblocktrans %}
            </li>
            <li>
                {% url "profile" as profile_url %}
                {% blocktrans %}<a href="{{ profile_url }}">Check your profile</a>, to see which portals are available to you.{% endblocktrans %}
            </li>
        </ul>
    </div>
{% endblock %}
