{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Activation complete' %}{% endblock %}

{% block container %}
  <div class="content">
    <h3>{% trans 'Activation complete' %}</h3>
    <p>{% trans "Your account has been activated." %}</p>
    <p>{% trans "You can go to the site that requested your account now:" %}</p>
    <p><a href="{{ view.visit_url }}">
        {{ view.portal.name }}
        ({{ view.visit_url }})
    </a></p>

  </div>
{% endblock %}
