<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <body>
  <pre>
Beste {{ name }},
  
Bedankt voor het aanvragen van een account voor een van onze producten.
Via deze <a href="{{ activation_url }}">activatie link</a>* kunt u uw account activeren en uw zelfgekozen wachtwoord invoeren. 

Uw gebruikersnaam is: {{ username }}.

Hierna kunt u met uw gebruiksnaam en wachtwoord inloggen op {{ portal_url }}. 

Om u alvast op weg te helpen kunt u hier de documentatie en release notes van Lizard en 3Di bekijken:

- <a href="https://docs.lizard.net/">https://docs.lizard.net/</a>
- <a href="https://docs.3di.lizard.net/">https://docs.3di.lizard.net/</a>

Mochten er nog vragen of onduidelijkheden zijn dan horen wij deze graag. Dit kan via <a href="mailto:servicedesk@nelen-schuurmans.nl">servicedesk@nelen-schuurmans.nl</a>

Met vriendelijke groet,
Het Lizard en 3Di team

*) Deze activeringslink vervalt over 2 weken
  </pre>
 </body>
  
</html>