{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lizard SSO &mdash; {% block subtitle %}{% endblock subtitle %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
    <link href="{{ STATIC_URL }}lizard_auth_server/bootstrap/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}html5shiv/html5shiv.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}lizard_auth_server/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lizard_auth_server/bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url index %}">Lizard SSO</a>
          <div class="nav-collapse pull-right">
            <ul class="nav">
                <li class="divider-vertical"></li>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                <li class="btn-group">
                    <form action="/i18n/setlang/" method="post" class="form-inline modal-form">{% csrf_token %}
                      <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                      <input name="language" type="hidden" value="{{ lang.code }}" />
                      <button type="submit"
                              class="btn {% ifequal LANGUAGE_CODE lang.code %}active{% endifequal %}"
                      >{{ lang.0|language_name_local }}</button>
                    </form>
                </li>
                {% endfor %}
                {% if user.is_authenticated %}
                <li class="divider-vertical"></li>
                <li><p class="navbar-text">{% blocktrans with user.username as name %}Hello, {{ name }}{% endblocktrans %}</p></li>
                <li><a href="{% url profile %}">{% trans "Profile" %}</a></li>
                {% if user.is_staff %}
                <li><a href="{% url admin:index %}">{% trans "Django administration" %}</a></li>
                {% endif %}
                <li><a href="{% url django.contrib.auth.views.logout %}">{% trans 'Log out' %}</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    {% block container %}
        <div class="content">
            <div class="page-header">
                <h1>Lizard SSO</h1>
            </div>
            <ul>
                <li><a href="{% url django.contrib.auth.views.login %}">{% trans "Log in" %}</a></li>
                <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Log out" %}</a></li>
                <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change password" %}</a></li>
                <li><a href="{% url django.contrib.auth.views.password_reset %}">{% trans "Reset my password" %}</a></li>
            </ul>
        </div>
    {% endblock %}
    <hr>
    <footer>
        <p>&copy; <a href="http://www.nelen-schuurmans.nl/">Nelen &amp; Schuurmans B.V.</a></p>
    </footer>
    </div>
  </body>
</html>
