{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block container %}

<div class="col-sm-6 col-sm-offset-3">

    <form method="post" action=""> {% csrf_token %}
        <p>
          {% blocktrans %}
            Do you want to delete: "{{ userconsent }}"?
          {% endblocktrans %}
        </p>

        <input
            type="submit"
            value="{% trans "Confirm" %}"
            class="btn btn-warning"
            action="lizard_auth_server.confirm_deletion_userconsent">
        <a href="{{ view.get_success_url }}"
           class="btn btn-default">{% trans "Cancel" %}</a>
    </form>
</div>

{% endblock %}