{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Registration complete' %}{% endblock %}

{% block container %}
  <div class="content">
    <h3>{% trans "Registration complete" %}</h3>
    <p>
      {% trans "The account has been registered, and an activation email has been sent to" %}
      <a href="mailto:{{ view.invitiation.email }}">{{ view.invitiation.email }}</a>.
    </p>
    <p>{% trans 'Actions' %}</p>
    <ul>
      <li><a href="{% url 'lizard_auth_server.activate' activation_key=view.invitiation.activation_key %}">
        {% trans 'Immediately activate this account' %}
      </a></li>
      <li><a href="{% url "lizard_auth_server.invite_user" %}">{% trans 'Register another user' %}</a></li>
      <li><a href="{% url "profile" %}">{% trans 'Go back to my profile' %}</a></li>
    </ul>
  </div>
{% endblock %}
