{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}
{% if validlink %}
{% trans 'Password reset confirmation' %}
{% else %}
{% trans 'Password reset unsuccessful' %}
{% endif %}
{% endblock %}

{% block container %}
    <div class="content">
    {% if validlink %}
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>{% trans 'Password reset confirmation' %}</legend>
                <p>
                    {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                </p>
                {% for field in form %}
                    {% include 'lizard_auth_server/form_field.html' %}
                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
                </div>
            </fieldset>
        </form>
    {% else %}
        <h3>{% trans 'Password reset unsuccessful' %}</h3>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
    </div>
{% endblock %}