{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Your profile' %}{% endblock %}

{% block container %}
<div class="content">
  <div class="row">
    <h3>{% trans 'Actions' %}</h3>
    <ul>

      {% if user.is_staff %}
      <li><a href="{% url "lizard_auth_server.invite_user" %}">{% trans 'Register a new user' %}</a></li>
      {% endif %}
      {% if user.is_superuser %}
      <li><a href="{% url "admin:lizard_auth_server_portal_changelist" %}">{% trans 'Manage SSO portals' %}</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="row">
    <h3>{% trans 'Available portals' %}</h3>
    <p>{% trans 'You have access to the following portals:' %}</p>
    {% if user.is_staff %}
    <p>{% trans 'All portals (staff member).' %}</p>
    <ul>
      {% for portal in view.all_portals %}
      <li><a href="{{ portal.visit_url }}">{{ portal.name }} ({{ portal.visit_url }})</a></li>
      {% empty %}
      <li>{% trans 'No portals found.' %}</li>
      {% endfor %}
    </ul>
    {% else %}
    <ul>
      {% for portal in view.profile.portals.all %}
      <li><a href="{{ portal.visit_url }}">{{ portal.name }} ({{ portal.visit_url }})</a></li>
      {% empty %}
      <li>{% trans 'No portals found.' %}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="row profile-header">
    <h3 class="profile">{% trans 'Your profile' %}</h3>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>{% trans 'Name' %}</th>
          <td>{{ view.profile.first_name }} {{ view.profile.last_name }}</td>
        </tr>
        <tr>
          <th>{% trans 'Email' %}</th>
          <td>{{ view.profile.email }}</td>
        </tr>
        <tr>
          <th>{% trans 'Title' %}</th>
          <td>{{ view.profile.title }}</td>
        </tr>
        <tr>
          <th>{% trans 'Organisation' %}</th>
          <td>{{ view.profile.organisation }}</td>
        </tr>
        <tr>
          <th>{% trans 'Street' %}</th>
          <td>{{ view.profile.street }}</td>
        </tr>
        <tr>
          <th>{% trans 'Postal code' %}</th>
          <td>{{ view.profile.postal_code }}</td>
        </tr>
        <tr>
          <th>{% trans 'Town' %}</th>
          <td>{{ view.profile.town }}</td>
        </tr>
        <tr>
          <th>{% trans 'Phone number' %}</th>
          <td>{{ view.profile.phone_number }}</td>
        </tr>
        <tr>
          <th>{% trans 'Mobile phone number' %}</th>
          <td>{{ view.profile.mobile_phone_number }}</td>
        </tr>
        <tr>
          <th>{% trans 'Created at' %}</th>
          <td>{{ view.profile.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-8 pull-right">
      <a class="btn-sm btn btn-primary" href="{% url "django.contrib.auth.views.password_change" %}">{% trans "Change password" %}</a>
      <a class="btn-sm btn btn-primary" href="{% url "lizard_auth_server.edit_profile" %}">{% trans "Edit my profile" %}</a>
    </div>
  </div>
</div>
{% endblock %}
