{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Your profile' %}{% endblock %}

{% block container %}
  <div class="content">
    <h2>{% trans 'Your profile' %}</h2>

    <div class="row">
      <div class="span8">

        <h3>{% trans 'Your data' %}</h3>
        <dl>
          <dt>{% trans 'Name' %}</dt>
          <dd>{{ view.profile.first_name }} {{ view.profile.last_name }}</dd>
          <dt>{% trans 'Username' %}</dt>
          <dd>{{ user.username }}</dd>
          <dt>{% trans 'Email' %}</dt>
          <dd>{{ view.profile.email }}</dd>
          <dt>{% trans 'Created on' %}</dt>
          <dd>{{ view.profile.created_at }}</dd>
        </dl>

      </div>
      <div class="span4">

        <h3>{% trans 'Actions' %}</h3>
        <ul>
          <li>
            <a href="{% url 'lizard_auth_server.edit_profile' %}">
              {% trans "Edit my profile" %}
            </a>
          </li>
          <li>
            <a href="{% url 'django.contrib.auth.views.password_change' %}">
              {% trans "Change password" %}
            </a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="{% url 'lizard_auth_server.invite_user' %}">
                {% trans 'Register a new user' %}
              </a>
            </li>
          {% endif %}
          {% if user.is_superuser %}
            <li>
              <a href="{% url 'admin:lizard_auth_server_portal_changelist' %}">
                {% trans 'Manage SSO portals' %}
              </a>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>


    {% if user.is_superuser %}
      <h2>Note: old role stuff below, only visible for superusers</h2>

      <div class="row">
        <div class="span8">

          <h3>{% trans 'Available portals' %}</h3>
          {% if user.is_staff %}
            <p>{% trans 'All portals (staff member):' %}</p>
          {% else %}
            <p>{% trans 'You have access to the following portals:' %}</p>
          {% endif %}

          <ul>
            {% for portal in view.portals %}
              <li>
                <a href="{{ portal.visit_url }}">
                  {{ portal.name }}
                </a><br>
                <small class="muted">{{ portal.visit_url }}</small><br>
                <a href="{% url 'lizard_auth_server.access_to_portal' portal_pk=portal.id %}">
                  <small>
                    &rarr; {% trans 'permissions' %}
                  </small>
                </a>
              </li>
            {% empty %}
              <li>{% trans 'No portals found.' %}</li>
            {% endfor %}
          </ul>

        </div>
        <div class="span4">

          <h3>{% trans 'Organisations' %}</h3>
          <p>{% trans 'You are a member of the following organisations:' %}</p>
          <ul>
            {% for organisation in view.profile.organisations.all %}
              <li>{{ organisation }}</li>
            {% endfor %}
          </ul>

        </div>
      </div>
    {% endif %}

{% endblock %}
