{% extends 'lizard_auth_server/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Your profile' %}{% endblock %}

{% block container %}
  <div class="content">
    <h2>
      {{ view.profile.first_name }} {{ view.profile.last_name }}
      <small>
        {% trans 'Your profile' %}
      </small>
    </h2>

    <div>
      <a class="pull-right btn"
         href="{% url 'lizard_auth_server.edit_profile' %}">
        {% trans "Edit my profile" %}
      </a>
    </div>
    <dl>
      <dt>{% trans 'Email' %}</dt>
      <dd>{{ view.profile.email }}</dd>
      <dt>{% trans 'Title' %}</dt>
      <dd>{{ view.profile.title }}</dd>
      <dt>{% trans 'Street' %}</dt>
      <dd>{{ view.profile.street }}</dd>
      <dt>{% trans 'Postal code' %}</dt>
      <dd>{{ view.profile.postal_code }}</dd>
      <dt>{% trans 'Town' %}</dt>
      <dd>{{ view.profile.town }}</dd>
      <dt>{% trans 'Phone number' %}</dt>
      <dd>{{ view.profile.phone_number }}</dd>
      <dt>{% trans 'Mobile phone number' %}</dt>
      <dd>{{ view.profile.mobile_phone_number }}</dd>
      <dt>{% trans 'Created on' %}</dt>
      <dd>{{ view.profile.created_at }}</dd>
    </dl>

    <div class="row">
      <div class="span6">

        <h3>{% trans 'Available portals' %}</h3>
        <p>{% trans 'You have access to the following portals:' %}</p>
        {% if user.is_staff %}
          <p>{% trans 'All portals (staff member).' %}</p>
          <ul>
            {% for portal in view.all_portals %}
            <li><a href="{{ portal.visit_url }}">{{ portal.name }} ({{ portal.visit_url }})</a></li>
            {% empty %}
            <li>{% trans 'No portals found.' %}</li>
            {% endfor %}
          </ul>
        {% else %}
          <ul>
            {% for portal in view.profile.portals.all %}
            <li><a href="{{ portal.visit_url }}">{{ portal.name }} ({{ portal.visit_url }})</a></li>
            {% empty %}
            <li>{% trans 'No portals found.' %}</li>
            {% endfor %}
          </ul>
        {% endif %}

      </div>
      <div class="span6">

        <h3>{% trans 'Organisations' %}</h3>
        <p>{% trans 'You are a member of the following organisations:' %}</p>
        <ul>
          {% for organisation in view.profile.organisations.all %}
            <li>{{ organisation }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <h3>{% trans 'Actions' %}</h3>
    <ul>
      <li><a href="{% url "django.contrib.auth.views.password_change" %}">{% trans "Change password" %}</a></li>
      {% if user.is_staff %}
      <li><a href="{% url "lizard_auth_server.invite_user" %}">{% trans 'Register a new user' %}</a></li>
      {% endif %}
      {% if user.is_superuser %}
      <li><a href="{% url "admin:lizard_auth_server_portal_changelist" %}">{% trans 'Manage SSO portals' %}</a></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
